#wrapper {
  margin-right: 10px;
}
#wrapper #shell #header {
  font-family: 'lucida grande', 'lucida sans unicode', 'lucida sans', 'frutiger linotype', sans-serif;
  font-size: 1em;
}
#wrapper #shell #header a{
  text-decoration:none;
}
#wrapper #shell {
  display: block;
  padding: 5px 10px;
  overflow: auto;
  cursor: text;
  height: 400px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: monaco, 'lucida console', 'courier new', 'courier', monospace;
  font-size: 10pt;
  line-height: 1.25em;

}
#wrapper #shell .row,
#wrapper #shell .row form {
  display: inline;
  line-height: 20px;
}
#wrapper #shell .row form input {
  border: none;
  outline: none;
}
#wrapper #shell .result {
  line-height: 20px;
  margin-left: 10px;
}
#wrapper #shell .result pre {
  font-size: 10pt;
  font-family: monaco, 'lucida console', 'courier new', 'courier', monospace;
  margin: 0;
}

#wrapper #shell .prompt {
  color: #fafbb9;
  font-weight: bold;
}
#wrapper #shell input {
  font-family: monaco, 'lucida console', 'courier new', 'courier', monospace;
  font-size: 10pt;
  background-color: #000000;
  color: #FFFFFF;
}
#wrapper #shell .err {
  color: #FF0000;
  margin-left: 10px;
}
#wrapper #shell a:link,
#wrapper #shell a:visited {
  color: #FFFFFF;
}
